:import {
  -st-from: "@actionishope/shelley/styles/default/project.st.css";
  -st-named:
    --spacing-unit,
}

:import {
  -st-from: "./project.st.css";
  -st-default: InchesTheme;
  -st-named:
    font-special,
    --color-accent-1,
    --color-ui;
}

/* = Root Component */
:import {
  -st-from: "../../components/Header/headerTwo.st.css";
  -st-default: Header;
  -st-named: navItem;
}

:import {
  -st-from: "@actionishope/shelley/components/Text/text.st.css";
  -st-default: Text;
}



@st-scope InchesTheme {


  Header {
    background: #9CC623;
    min-height: 70px;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  Header::navList {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
  }

  Header::navItem {
    list-style: none;
    padding: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-family: Impact;
    letter-spacing: 0.07em;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    transition: background-color ease-in 100ms;
    border-color: transparent;
    font-family: value(font-special);
  }

  Header::navItem:hover,
  Header::navItem:focus {
    background-color: #222;
    border-color: transparent;
  }

  /* Address in Shelley. */
  Header Text .navItem {
    color: #fff;
  }

  /* div.header-two {
    background-color: 
  } */

}



