:import {
  -st-from: "@actionishope/shelley/styles/default/project.st.css";
  -st-named:
    --spacing-unit,
    breakpoint-sm,
    breakpoint-md,
    breakpoint-lg,
    breakpoint-xl,
    breakpoint-xxl,
}

:import {
  -st-from: "./project.st.css";
  -st-default: Puma;
  /* -st-named:
    --color-accent-1-default,
    --color-ui-default; */
}


/* = Root Component */
:import {
  -st-from: "../../components/Card/card.st.css";
  -st-default: Card;
  -st-named:
    media,
    link,
    text;
}


:import {
  -st-from: "@actionishope/shelley/components/Text/text.st.css";
  -st-default: Text;
}


@st-scope Puma {

  Card {
    /* border: 1px solid #ccc5; */
    display: flex;
    flex-direction: column;
    position: relative;
    /* background-color: #ddd; */
    background-color: rgb(0 0 0 / 6%);
    transition: all ease-in 75ms;
    max-width: calc(100vw - 35px);
  }

  /* Card:focus-within,
  Card:hover {
    box-shadow: 0 0 0 0.1rem #000;
  } */

  Card:focus-within::media img,
  Card:hover::media img {
    transform: scale(1.03);
    opacity: .95;
  }

  Card:focus-within,
  Card:hover {
    background-color: rgb(0 0 0 / 10%);
  }

  Card::media {
    height: 6rem;
    margin: -1px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1rem));
    overflow: hidden;
    /* background: #333; */
  }

  Card::media img {
    width: 100%;
    margin-top: -30px;
    transition: all ease-in 70ms;
    opacity: .9;
  }

  Card::text {
    padding: 1rem;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
  Card::title {
    margin: 0 auto 4vh auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  Card::text > * + * {
    margin-top: 0.75rem;
  }

  Card::text > :last-child {
    margin-top: auto;
    padding-top: 0.75rem;
  }

  /* Address in Shelley. */
  Card Text > .link {
    text-decoration: none;
    border: none;
    color: inherit;
    position: static;
  }

  Card Text > .link::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

/* = Truncation - multiline */
@supports (-webkit-line-clamp: 2) {
  @st-scope Puma {
    Card::text :global(p) {
      width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
}
